@layout('layouts.main')

@section('title')
JobPostr - Post Your Jobs
@endsection

@section('content')
  @loggedIn
    <p>Hello {{user.username}},</p>
    <h1>welcome back!</h1>
  @else
    <h1>Welcome to JobPostr</h1>
    <p>Please register or log in.</p>
  @endloggedIn
@endsection