.job-container {
  grid-template-columns: auto;
  padding: 2rem;
  width: 30%;
}

label {
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  display: block;
  width: calc(100% - 4rem);
  padding: 0.5rem;
  margin-bottom: 1.25rem;
  border: 0.125rem solid var(--gray-100);
  border-radius: 0.5rem;
}

button[type="submit"] {
  background-color: var(--gray-500);
  margin-top: 1.25rem;
  padding: 0.5rem;
  border: 0;
  border-radius: 0.25rem;
  color: var(--white-100);
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: bold;
  box-shadow: 0 0.125rem var(--gray-800);
  transition: filter 0.25s;
}

button[type="submit"]:hover {
  filter: brightness(1.125);
}
button[type="submit"]:active {
  filter: brightness(0.8);
  box-shadow: 0 2px var(--gray-500);
}

span.errorMessage {
  display: block;
  background: var(--yellow-500);
  width: calc(100% - 4rem);
  padding: 0.3em;
  border-radius: 0.25rem;
  margin-bottom: 1rem;
  text-align: center;
}
